# VM addresses
VM1_IP=192.168.182.140
VM2_IP=192.168.182.141
VM3_IP=192.168.182.142

# Current host variables
# For vm1:
# HOST_IP=192.168.182.140
# HOSTNAME=test-vm1
# ETCD_NAME=etcd-vm1
# PATRONI_NAME=test-vm1
#
# For vm2:
# HOST_IP=192.168.182.141
# HOSTNAME=test-vm2
# ETCD_NAME=etcd-vm2
# PATRONI_NAME=test-vm2
#
# For vm3:
# HOST_IP=192.168.182.142
# HOSTNAME=test-vm3
# ETCD_NAME=etcd-vm3

HOST_IP=
HOSTNAME=
ETCD_NAME=
PATRONI_NAME=

# Virtual IP
VIP=192.168.182.100

# Network interface
INTERFACE=ens33

# Project
COMPOSE_PROJECT_NAME=keycloak-ha

# etcd cluster
ETCD_INITIAL_CLUSTER=etcd-vm1=http://192.168.182.140:2380,etcd-vm2=http://192.168.182.141:2380,etcd-vm3=http://192.168.182.142:2380
ETCD_INITIAL_CLUSTER_TOKEN=keycloak-etcd
ETCD_INITIAL_CLUSTER_STATE=new

# PostgreSQL / Patroni
POSTGRES_PASSWORD=change_me
REPLICATION_USERNAME=replicator
REPLICATION_PASSWORD=change_me
PATRONI_SCOPE=keycloak_db

# Keycloak database
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=change_me

# Keycloak admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

# HAProxy for PostgreSQL
PG_HAPROXY_PORT=5433
PG_HAPROXY_STATS_PORT=7000

# HAProxy stats
HAPROXY_STATS_USER=admin
HAPROXY_STATS_PASSWORD=change_me

# Keycloak runtime
KEYCLOAK_IMAGE=quay.io/keycloak/keycloak:26.4
KEYCLOAK_HTTP_PORT=8080
KEYCLOAK_HOSTNAME=http://192.168.182.100

# Keycloak database connection through local PostgreSQL HAProxy
KEYCLOAK_DB_HOST=127.0.0.1
KEYCLOAK_DB_PORT=5433

# HAProxy for Keycloak
KEYCLOAK_HAPROXY_PORT=80
KEYCLOAK_HAPROXY_STATS_PORT=8404

# UCARP / VIP
UCARP_VHID=100
UCARP_PASSWORD=change_me
UCARP_ADVSKEW_VM1=10
UCARP_ADVSKEW_VM2=20

# UCARP healthcheck
UCARP_HEALTHCHECK_URL=http://127.0.0.1/realms/master
UCARP_HEALTHCHECK_INTERVAL=5
UCARP_HEALTHCHECK_TIMEOUT=3
UCARP_HEALTHCHECK_FAILS=3
UCARP_HEALTHCHECK_SUCCESS_TO_REJOIN=12
